python-telegram-bot[job-queue]==21.6
requests
pandas
beautifulsoup4
fastapi
uvicorn[standard]

solana==0.34.3
solders==0.21.0
anchorpy==0.20.1
aiohttp==3.11.11
websockets==10.4
base58==2.1.1
python-dotenv==1.0.0
